/* Remove os marcadores padrão das listas */
ul.lista-planta {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0; /* Remove o padding */
  }
  
  ul.lista-planta li {
    position: relative; /* Necessário para posicionar o emoji */
    padding-left: 25px; /* Espaço à esquerda para o emoji */
    transition: background-color 0.5s ease;
  }
  
  /* Adiciona o emoji de planta antes de cada item da lista */
  ul.lista-planta li::before {
    content: "🌱"; /* O emoji de planta */
    position: absolute; /* Posiciona o emoji */
    left: 0; /* Alinha o emoji à esquerda */
    top: 0; /* Alinha o emoji à parte superior do item */
    font-size: 15px; /* Ajusta o tamanho do emoji */
  }
  
  ul.lista-planta li:hover {
    background-color: #90EE90;
  }